body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}

            /* navbar */

div {
    text-align: center;
    padding-bottom: 75px;
}

nav {
    text-align: center;
  
}

nav a {
    padding: 25px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

            /* header */

header {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}

header p {
    font-size: 16px;
}

header img {
    padding-top: 50px;
}

            /* section portefolio */

section, .portefolio {
    text-align: left;
    padding: 20px;
}

.menu, .plus {
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
}

.menu a, .plus a {
    padding: 25px;
    text-decoration: none;
    color: black;
}

.menu a:hover, .plus a:hover {
    background-color: #fde293;
    width: relative;
    height: relative;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.overlay-image {
    position: relative;
    display: inline-block; 
    margin-left: 30px;
}

.overlay-image .hover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    background-color: rgba(244,222,37,0.8);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  
.overlay-image:hover .hover-image {
    opacity: 1;
}

.image2 { 
    float: right;
    margin-right: 20px;
}

.image3 {
    position: relative;  
    right: 180px;
    top: -50px;
    margin-bottom: 90px;
}

.image4 {
    float: right;
    margin-right: 20px;
    margin-top: -488px; 
}

.image5 {
    position: relative;  
    right: 180px;
    top: -180px;
}

.image6 {
    float: right;
    margin-right: 20px;
    margin-top: -529px;
}

.plus {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: -200px;
}

            /* section partners */

.section, .partners {
    text-align: center;
    position: relative;
    top: -100px;
}
            /* section about */

.about, h2 {
text-align: center;
}

.about, .p {
    font-size: 20px;
}

.personne1, .personne2 {
    position: relative;
    padding-left: 150px;
}


.personne1, .personne2 a:hover, .plus a:hover {
    width: relative;
    height: relative;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.overlay-image {
    position: relative;
    display: inline-block; 
}

.overlay-image .hover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    background-color: rgba(244,222,37,0.8);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  
.overlay-image:hover .hover-image {
    opacity: 1;
}

.plus {
    text-align: center;
    margin-right: 150px;
    margin-top: -50px;
}

.plus, .p {
    font-size: 20px;
}
            /* section blog */

.blog {
    text-align: center;
    font-size: 20px;
}

.article {
    text-align: left;
    margin-left: 160px;
    margin-top: -90px;
}

img {
    margin-top: -50px;
}

.article2 {
    text-align: left;
    margin-left: 160px;
}

            /* section contact*/

.formulaire a:hover {
    background-color: #fde293;
    width: relative;
    height: relative;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    text-decoration: none;
}

.formulaire {
    position: absolute;
}

.plan {
    margin-top: 40px;
}

.icone {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    margin-top: -50px;
}

            /* section footer */

footer {
    background-color: black;
    width: 720px;
    height: 177px;
    margin-top: 1050px;
    position: absolute;
}

footer img {
    position: absolute;
    padding-left: 300px;
}

footer h5 {
    color: white;
    position: absolute;
    padding-top: 40px;
    padding-left: 550px;
}

.logo {
    position: absolute;
    margin-top: 50px;
    margin-left: -295px;
}

footer p {
    color: white;
    position: absolute;
    padding-top: 40px;
    padding-left: 100px;
}

.fleche {
    position: absolute;
    margin-left: 400px;
    padding-top: 65px;
}


@font-face {
    font-family: montserrat;
    src: url(Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(Fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(Fonts/Montserrat-Italic.ttf);
}